<a href="https://colab.research.google.com/github/jagangirisaballa/iNeuron-Assignments/blob/master/Jagan_Python_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.1 Write a Python Program to implement your own myreduce() function which works exactly
like Python's built-in function reduce()

In [1]:
lst = [47, 11, 42, 13]
sum = 0
for i in lst:
  sum = sum + i
sum

113

1.2 Write a Python program to implement your own myfilter() function which works exactly
like Python's built-in function filter()

In [2]:
lst = [47, 11, 42, 13]

for i in lst:
  if i%2==0:
    print("{} is an even number".format(i))
  else:
    print("{} is an odd number".format(i))

47 is an odd number
11 is an odd number
42 is an even number
13 is an odd number

2. Implement List comprehensions to produce the following lists.
Write List comprehensions to produce the following Lists

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [3]:
input_list = ['x','y','z']
result = [ item*num for item in input_list for num in range(1,5)  ]
print("['x','y','z'] => " +   str(result))

['x','y','z'] => ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [4]:
input_list = ['x','y','z']
result = [ item*num for num in range(1,5) for item in input_list ]
print("['x','y','z'] => " +   str(result))

['x','y','z'] => ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [5]:
input_list = [2, 3, 4]
result = [ [item+num] for item in input_list for num in range(0,3)  ]
print("[2, 3, 4] => " +   str(result))

[2, 3, 4] => [[2], [3], [4], [3], [4], [5], [4], [5], [6]]

[[2, 3, 4, 5], [3, 4, 5, 6],
[4, 5, 6, 7], [5, 6, 7, 8]]

In [6]:
input_list = [2, 3, 4, 5]
result = [ [item+num for item in input_list] for num in range(0,4)  ]
print("[2, 3, 4, 5] => " +   str(result))

[2, 3, 4, 5] => [[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [7]:
input_list = [1, 2, 3]
result = [ (b,a) for a in input_list for b in input_list ]
print("[2, 3, 4] => " +   str(result))

[2, 3, 4] => [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]